<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Get Your List Together</title>
  <link rel="stylesheet/less" type="text/css" href="/styles.less" />
  <script src="https://cdn.jsdelivr.net/npm/less"></script>
</head>

<body>
  <header>
    <div class="header-content">
      <a id="nav-link" href="homepage">
        <h1>Get Your List Together!</h1>
      </a>
        {{#if logged_in}}
        <a id="button-link"><button class="button-link" id="logout">logout</button></a>
        {{else}}
        <a id="button-link" href="/login"><button class="button-link" id="login">login</button></a>

        {{/if}}
    </div>
  </header>
  <main>
    {{{ body }}}
  </main>

  <footer>
    <h5>© Group 7 2023</h5>
  </footer>

    <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>