{{! User cart/ budget page }}
{{#if logged_in}}
<h2 style="text-transform: uppercase;">{{name}}'s Budget</h2>
{{/if}}

<div class="user-cart">
  <div class="budget">
    <h2>BUDGET:</h2>
    <input type="number" placeholder="200" id="input" />
    <button type="submit" id="submit-button" onclick="getBudget()">Save</button>
  </div>

  <div class="cart-results">
  </div>

  <div class="total-section">
    <h3 id="money-budget"></h3>
    <h3 id="money-spent"></h3>
    <h3 id="money-left"></h3>
  </div>
</div>

<script src="/js/cart.js"></script>