{{!-- User cart/ budget page with example content --}}
<div class="user-cart">
  <div class="budget">
    <h2>BUDGET:</h2>
    <h2>$100</h2>
  </div>

  <div class="cart-results">
    <div class="item">
      <h3 id="name">Iceberg Lettuce</h3>
      <h3 id="price">$1.79</h3>
      <button>-</button>
    </div>
    <div class="item">
      <h3 id="name">Large White Eggs</h3>
      <h3 id="price">$2.19</h3>
      <button>-</button>
    </div>
  </div>

  <div class="total-section">
    <h3>TAXES: $0.29</h3>
    <h3>SPENT: $4.27</h3>
    <h3>MONEY LEFT: $95.73</h3>
  </div>
</div>