{{! User cart/ budget page with placeholder example content ---- Replace with commented out code below with data! }}
{{!-- {{#if logged_in}} --}}

<div class="user-cart">
      <div class="budget">
      <h2>BUDGET:</h2>
      <input type="number" placeholder="200" id="input"/>
      <button type="submit" id="submit-button" onclick="getBudget()">Save</button>
    </div>

  <div class="cart-results">
  </div>

  <div class="total-section">
    <h3 id="money-budget"></h3>
    <h3 id="money-spent"></h3>
    <h3 id="money-left"></h3>
  </div>
</div>

{{!-- {{else}}
<div class="user-cart">
  <h2>Please Login to view your cart</h2>
  <a href="/login"><button>Login</button></a>
</div>
{{/if}} --}}

<script src="/js/cart.js"></script>