{{!-- Landing page/homepage --}}
<div class="homepage">
  <div class="landing-content">
    <h3>What do you want to do?</h3>
    <p>Find recipes?</p>
    <p>Make a grocery list?</p>
  </div>

  <a href="/recipes"><button>Find Recipes</button></a>
  <a href="/produce"><button>Make a List</button></a>
</div>