{{!-- Landing page/homepage --}}
<div class="homepage">
  <div class="landing-content">
    <h3>What do you want to do?</h3>
    <h4>Find recipes?</h4>
    <h4>Make a grocery list?</h4>
  </div>

  <a href="/recipes"><button>Find Recipes</button></a>
  <a href="/produce"><button>Make a List</button></a>
</div>