{{! Page for find produce & adding to cart }}
<div class="produce-page">
  <div class="product-search">
    <h2>Search for foods</h2>
    <div class="search-bar">
      <input type="text" placeholder="bread, eggs, tomatoes, milk, strawberries, lettuce" id="input" />
      <button type="submit" id="submit-button" onclick="findProduct()">Search</button>
    </div>

    <div class="results">

    </div>
  </div>

  <div class="shopping-cart">
    <h2>My Shopping Cart</h2>

    <div class="groceries">

    </div>
    <a href="/cart"><button>Create Budget</button></a>
  </div>
</div>

<a href="/recipes"><button>Find Recipes</button></a>


<script src="/js/products.js"></script>