{{! Page for find produce & adding to cart ---- Replace with commented out code below with data!  }}
<div class="produce-page">
  <div class="product-search">
    <h2>Search for foods</h2>
    <div class="search-bar">
      <input type="text" placeholder="bread, lettuce, tomatoes" id="input" />
      <button type="submit" id="submit-button" onclick="findProduct()">Search</button>
    </div>

    <div class="results">
      <div class="product">
        <img src="/example-images/milk-large.png" alt="Fat Free Skim Milk" />
        <div>
          <h3 id="name">Fat Free Skim Milk</h3>
          <h3 id="price">$2.79</h3>
        </div>

        <button>+</button>
      </div>

    </div>
  </div>

  <div class="shopping-cart">
    <h2>My Shopping Cart</h2>

    <div class="groceries">
      <div class="item">
        <h3 id="name">Iceberg Lettuce</h3>
        <h3 id="price">$1.79</h3>
        <button>-</button>
      </div>
      <div class="item">
        <h3 id="name">Large White Eggs</h3>
        <h3 id="price">$2.19</h3>
        <button>-</button>
      </div>
    </div>

    <button>Save Cart</button>
    <a href="/cart"><button>View My Cart</button></a>
  </div>
</div>



<script>
  // Fetch data from Kroger API
function findProduct(){
  var searchInput = document.querySelector(".search-bar input").value;
  getProducts(searchInput);
}
var krogerToken = 'eyJhbGciOiJSUzI1NiIsImprdSI6Imh0dHBzOi8vYXBpLmtyb2dlci5jb20vdjEvLndlbGwta25vd24vandrcy5qc29uIiwia2lkIjoiWjRGZDNtc2tJSDg4aXJ0N0xCNWM2Zz09IiwidHlwIjoiSldUIn0.eyJhdWQiOiJnZXR5b3VsaXN0dG9nZXRoZXItNDAwYTg1NTkxNjRjMDBlNDVhZWMyMmI2ZjFjMDg1YTkzOTkxMjQwMTAwNDk1MTc5NTk5IiwiZXhwIjoxNzAxOTMzNjY2LCJpYXQiOjE3MDE5MzE4NjEsImlzcyI6ImFwaS5rcm9nZXIuY29tIiwic3ViIjoiMWQwNTEwNGEtZGQyYi01NGMwLWIxZTgtYjcxM2YxNTNlNzA4Iiwic2NvcGUiOiJwcm9kdWN0LmNvbXBhY3QiLCJhdXRoQXQiOjE3MDE5MzE4NjYwMzE0MDA3NjIsImF6cCI6ImdldHlvdWxpc3R0b2dldGhlci00MDBhODU1OTE2NGMwMGU0NWFlYzIyYjZmMWMwODVhOTM5OTEyNDAxMDA0OTUxNzk1OTkifQ.piZByTySmZAbMcmGpDLGgmEnyKhKxuLMnP1MngdsynDJIG5CCDyYw1uCAnQ9w5XlaPbjUBzIdmCglUeHNBfFqhqrlZjzAK4qO3wGj45A07JCoL7f0aH7HqFm46HKOVpIzu4CFZkUQqAKdbwp9FnwxdjUSvh8HhYI1qdMUOb_9pc2vDhPvSFvJzuUPfyQARwIZEc04coznIIZrBWl0O3lDjZo7o2zIPW9_VYOKU6Gl29xP85rZIulkpoCmBs9oR8Y8DrrIBJdt00XaBgY_Njw-_CsNNOKc2nAITggEpGSPSFut4Erb_WFzHgF0BLrTPyvBcMm4TTd0pTutSSantbbOg';

function getProducts(searchInput){
  fetch(`https://api.kroger.com/v1/products?filter.term=${searchInput}&filter.limit=10`, {
    method: 'GET',
    headers: {
      'Authorization': `Bearer ${krogerToken}`,
      'Content-Type': 'application/json',
    },
  })
  .then(response => response.json())
  .then(data => {
    let list = data.data

    console.log(">",data);
    let resultsDiv = document.querySelector(".results");
    resultsDiv.innerHTML = "";

    list.forEach((product) => {
        let product_name = product.description;
        let product_img = product.images[0].sizes[1].url;

        const card = document.createElement('div');
        card.setAttribute('class', "product");
        const cardImg = document.createElement('img');
        cardImg.src = product_img;
        cardImg.setAttribute("alt", product_name);

        const cardName = document.createElement('h3');
        cardName.setAttribute('id', 'name');
        cardName.innerHTML = product_name;

        const cardBtn = document.createElement('button');
        cardBtn.setAttribute('id', 'add');
        cardBtn.innerHTML = "+";

        resultsDiv.appendChild(card);
        card.appendChild(cardImg);
        card.appendChild(cardName);
        card.appendChild(cardBtn);
    })
    }
  )
   
    .catch(error => {
      console.error('Fetch Error:', error);
    });
}
</script>