{{! Page for find produce & adding to cart ---- Replace with commented out code below with data! }}
<div class="produce-page">
  <div class="product-search">
    <h2>Search for foods</h2>
    <div class="search-bar">
      <input type="text" placeholder="bread, eggs, tomatoes, milk, strawberries, lettuce" id="input" />
      <button type="submit" id="submit-button" onclick="findProduct()">Search</button>
    </div>

    <div class="results">
      {{!-- <div class="product">
        <img src="/example-images/milk-large.png" alt="Fat Free Skim Milk" />
        <div>
          <h3 id="name">Fat Free Skim Milk</h3>
          <h3 id="price">$2.79</h3>
        </div>

        <button>+</button>
      </div> --}}

    </div>
  </div>

  <div class="shopping-cart">
    <h2>My Shopping Cart</h2>

    <div class="groceries">
      {{!-- <div class="item">
        <h3 id="name">Iceberg Lettuce</h3>
        <h3 id="price">$1.79</h3>
        <button>-</button>
      </div>
      <div class="item">
        <h3 id="name">Large White Eggs</h3>
        <h3 id="price">$2.19</h3>
        <button>-</button> --}}
        {{!--
      </div> --}}
    </div>

    <button>Save Cart</button>
    <a href="/cart"><button>View My Cart</button></a>
  </div>
</div>



<script>
  // Fetch data from Kroger API
  let resultsDiv = document.querySelector(".results");
  var cartArray = [];

  function findProduct() {
    var searchInput = document.querySelector(".search-bar input").value;
    getProducts(searchInput);
    resultsDiv.innerHTML = "";
  }

  const apiURL = "/js/productsAPI.json";
  function getProducts(searchInput) {

    fetch(apiURL)
      .then((response) => response.json())
      .then((products) => {
        displayCart();

        products.forEach((product) => {

          if (product.name == searchInput) {
            let allItems = product.items

            allItems.forEach((item) => {
              let product_name = item.description;
              let product_size = item.size;
              let product_price = item.price;
              let product_id = item.id;
              console.log(product_name)

              const card = document.createElement('div');
              card.setAttribute('class', "product");

              const cardName = document.createElement('h4');
              cardName.setAttribute('id', 'name');
              cardName.innerHTML = product_name;

              const cardId = document.createElement('h6');
              cardId.setAttribute('id', 'number');
              cardId.innerHTML = product_id;

              const cardSize = document.createElement('p');
              cardSize.setAttribute('id', 'size');
              cardSize.innerHTML = product_size;

              const cardPrice = document.createElement('h5');
              cardPrice.setAttribute('id', 'price');
              cardPrice.innerHTML = product_price;

              const cardBtn = document.createElement('button');
              cardBtn.setAttribute('id', 'addItem');
              cardBtn.innerHTML = "+";

              resultsDiv.appendChild(card);
              card.appendChild(cardId);
              card.appendChild(cardName);
              card.appendChild(cardSize);
              card.appendChild(cardPrice);
              card.appendChild(cardBtn);
            })
          }

        });

        let saveBtns = document.querySelectorAll('#addItem');

        for (var i = 0; i < saveBtns.length; i++) {
          saveBtns[i].addEventListener('click', function () {
            var parent = this.parentNode;
            let item_id = parent.children[0].innerHTML;
            let item_name = parent.children[1].innerHTML;
            let item_size = parent.children[2].innerHTML;
            let item_price = parent.children[3].innerHTML;
            saveItem(item_id, item_name, item_size, item_price);
          });
          displayCart();

        };

        function saveItem(item_id, item_name, item_size, item_price) {
          var storedItems = JSON.parse(localStorage.getItem("cart"));

          if (storedItems !== null) {
            cartArray = storedItems;
          };

          localStorage.setItem("cart", JSON.stringify(cartArray));

          var cartObj = {
            "id": item_id,
            "name": item_name,
            "size": item_size,
            "price": item_price,
          };

          cartArray.push(cartObj);
          localStorage.setItem("cart", JSON.stringify(cartArray));
          displayCart();
        }

        function displayCart() {
          var savedItems = JSON.parse(localStorage.getItem('cart'));
          var displaySaved = document.querySelector(".groceries");

          displaySaved.innerHTML = " ";

          if (savedItems < 1) {
            console.log("empty")

          } else {

            for (var i = 0; i < savedItems.length; i++) {
              let product_id = savedItems[i].id;
              let product_name = savedItems[i].name;
              let product_price = savedItems[i].price;
              let product_size = savedItems[i].size;

              const card = document.createElement('div');
              card.setAttribute('class', "product");

              const cardName = document.createElement('h4');
              cardName.setAttribute('id', 'name');
              cardName.innerHTML = product_name;


              const cardId = document.createElement('h4');
              cardId.setAttribute('id', 'number');
              cardId.innerHTML = product_id;

              const cardSize = document.createElement('p');
              cardSize.setAttribute('id', 'size');
              cardSize.innerHTML = product_size;

              const cardPrice = document.createElement('h5');
              cardPrice.setAttribute('id', 'price');
              cardPrice.innerHTML = product_price;

              const cardBtn = document.createElement('button');
              cardBtn.setAttribute('id', 'removeItem');
              cardBtn.innerHTML = "-";

              displaySaved.appendChild(card);
              card.appendChild(cardId);
              card.appendChild(cardName);
              card.appendChild(cardSize);
              card.appendChild(cardPrice);
              card.appendChild(cardBtn);
            }

            let removeBtns = document.querySelectorAll('#removeItem');

            for (var i = 0; i < removeBtns.length; i++) {
              removeBtns[i].addEventListener('click', function () {
                var parent = this.parentNode;
                let item_id = parent.children[0].innerHTML;
                let item_name = parent.children[1].innerHTML;
                let item_size = parent.children[2].innerHTML;
                let item_price = parent.children[3].innerHTML;
                removeItem(item_id, item_name, item_size, item_price);
              });
            }

            function removeItem(item_id, item_name, item_size, item_price) {
              var savedItems = JSON.parse(localStorage.getItem('cart'));
              savedItems.splice(savedItems.findIndex(item => item.id === item_id), 1);

              // Update local storage
              localStorage.setItem("cart", JSON.stringify(savedItems));

              // Redisplay saved tries
              displayCart();
            }

          }
        }

        displayCart();
      })

      .catch(error => {
        console.error('Fetch Error:', error);
      });
  }
</script>