{{! Recipes Page Content }}
<div class="recipes-page">
  <div class="recipe-search">
    <h2>Search for recipes</h2>
    <div class="search-bar">
      <input type="text" placeholder="pizza, tacos, pie" id="input" />
      <button type="submit" id="submit-button" onClick="findRecipes()">Search</button>
    </div>

      <div class="results">
      </div>
    </div>
  </div>
</div>

<script src="js/recipes.js"></script>